<nav class="navbar-border navbar-expand-lg navbar-white   navbar-light" >
    <div class="container ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <div class="d-flex ">
            <img [src]="logoPath" [width]="80" [height]="50"  alt="">
            <h3 class="m-0 ">
                <a class="navbar-brand  me-0 text-dark fw-bold fs-5 " href="#">
                    RealState'Oum
                </a>
            </h3>
        </div>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active text-dark fw-bold " aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-bold " href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-dark fw-bold ">Disabled</a>
          </li>
          
        </ul>
        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <button class="btn btn-outline-primary ">Se connecter</button>
        </div>
      </div>
    </div>
</nav>

