<div class="card card-primary m-4">
    <div class="card-header">
      <h3 class="card-title">Mise à jour du bien</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]="formFeactureProperty">
      <div class="card-body">
        <div class="row">
            <div class=" form-group col-4">
              <label for="nombre_piece">Nombre de pieces</label>
              <input type="number" class="form-control"
              formControlName="nombre_piece"
               placeholder="Nombre de piece">
            </div>
            <div class="form-group col-4">
              <label for="nombre_chambre">Nombre de chambre</label>
              <input type="number" class="form-control"
              formControlName="nombre_chambre"
               placeholder="Nombre de chambre">
            </div>
            <div class="col-4 form-group">
              <label for="nombre_salle_bain">Nombre de salle de bain</label>
              <input type="number" class="form-control"
               formControlName="nombre_salle_bain"
               placeholder="Nombre de salle de bain">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"
                   formControlName="is_eau"
                   id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Eau</label>
                </div>
            </div>
            <div class="form-group col-4">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"
                   formControlName="is_electricite"
                   id="customSwitch2">
                  <label class="custom-control-label" for="customSwitch2">Electricité</label>
                </div>
            </div>
            <div class="form-group col-4">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input"
                   formControlName="is_salle_gym"
                   id="customSwitch3">
                  <label class="custom-control-label" for="customSwitch3">Salle de gym</label>
                </div>
            </div>
          </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input"
               formControlName="status"
               id="customSwitch4">
              <label class="custom-control-label" for="customSwitch4">Vendu</label>
            </div>
        </div> 
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button (click)="onSubmit()" type="button" class="btn btn-primary">
            <i  class="nav-icon fa fa-edit" aria-hidden="true"></i>
            Appliquer
            <i class="mx-2 fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
        <button (click)="back()" type="button" class="btn btn-danger mx-2 ">
            Annuler
        </button>
      </div>
    </form>
  </div>


